%h4
  Hello
  = @user.name
%p
  = prepare_text @message
%p
  = link_to 'Signup', signup_url(@digest, @user.id)
%br
= hash_to_table(@supplies)
- if @type
  %p
    Account Type:
    = @type

Sincerely,
<br />
<br />
The Hive Team <br />
HiVE Vancouver Society <br />
#210 – 128 West Hastings <br />
Vancouver, BC  V6B 1G8 <br />
(778) 800-1250