%div.container-fluid
  %div.col-md-2.sidebar.hidden-sm.hidden-xs
    = render 'admin/shared/sidebar', active: 'dashboard'
  %div.col-md-10.shad-left
    %h1 Dashboard

    %div.row
      %div.col-md-8
        - cache do
          %h4 New Users
          %table.table
            %thead
              %tr
                %th User
                %th Email
                %th Phone
            - User.all.reverse_order.limit(5).each do |user|
              %tr
                %td
                  = link_to user.name, edit_admin_user_path(user)
                %td
                  = user.email
                %td
                  = user.phone
          %hr
        - cache do
          %h4 New Organizations
          %table.table
            %thead
              %tr
                %th Name
                %th Employees
                %th Tags
            - Organization.all.reverse_order.limit(5).each do |org|
              %tr
                %td
                  = link_to org.name, edit_admin_organization_path(org)
                %td
                  = org.organization_members.count
                %td
                  = org.pretty_tags
      %div.col-md-4
        %div.well
          %h4 Notes
          = form_for :note, url: admin_notes_path, method: :post do |f|
            = f.text_field :title, placeholder: 'title', class: 'form-control'
            = f.text_area :content, placeholder: 'content', class: 'form-control', rows: 4
            = f.submit 'Submit', class: 'btn btn-default'
          - Note.all.reverse_order.each do |note|
            %h5
              = note.title
              = link_to '[x]', admin_note_path(note), method: :delete
            %p
              = note.content
            %br