%div.container-fluid
  %div.col-md-2.sidebar.hidden-sm.hidden-xs
    = render 'admin/shared/sidebar', active: 'reports'
  %div.col-md-10.shad-left
    %h1 Reports

    %div.content
      %h4 Supplies
      %table.table
        %thead
          %tr
            %th Supplies
            %th In Use
            %th Total
        - Supply.all.reverse_order.each do |supply|
          %tr
            %td
              = supply.name
            %td
              = supply.in_use
            %td
              = supply.supply_lists.count
    %div.form
      %h4 Downloads
      = link_to 'Download User Data', admin_users_path(format: :csv), class: 'btn btn-default'
      = link_to 'Download Organization Data', admin_organizations_path(format: :csv), class: 'btn btn-default'