%ul.nav.nav-sidebar.nav-pills.nav-stacked
  %li{ class: active == 'dashboard' ? 'active' : '' }
    = link_to 'Dashboard', '/admin'
  %li{ class: active == 'reports' ? 'active' : '' }
    = link_to 'Reports', '#'
%hr
%ul.nav.nav-sidebar.nav-pills.nav-stacked
  %li{ class: active == 'organizations' ? 'active' : '' }
    = link_to 'Organizations', admin_organizations_path
  %li{ class: active == 'supplies' ? 'active' : '' }
    = link_to 'Supplies', admin_supplies_path
  %li{ class: active == 'users' ? 'active' : '' }
    = link_to 'Users', admin_users_path
%hr
%ul.nav.nav-sidebar.nav-pills.nav-stacked
  %li
    = link_to 'My Account', '#' #admin_admins_path(current_admin)
  %li
    = link_to 'Logout', '#' #admin_session_path(current_admin), method: :delete