%ul.nav.nav-sidebar
  %li
    = link_to 'Dashboard', admin_root_path, class: active
  %li
    = link_to 'Reports', '#', class: active

%ul.nav.nav-sidebar
  %li
    = link_to 'Organizations', admin_organizations_path, class: active
  %li
    = link_to 'Supplies', admin_supplies_path, class: active
  %li
    = link_to 'Users', admin_users_path, class: active

%ul.nav.nav-sidebar
  %li
    = link_to 'My Account', admin_admins_path(current_admin)
  %li
    = link_to 'Logout', admin_session_path(current_admin), method: :delete