
%div.container-fluid
  %div.col-md-2.sidebar.hidden-sm.hidden-xs
    = render 'admin/shared/sidebar', active: 'imports'

  %div.col-md-10.shad-left
    - cache do
      %h1 Imports
      %div.form{ style: 'max-width:600px;margin-top:30px;' }
        %p Before uploading, change the column headings (the first row of your spreadsheet) to match the headings described below. Then save the spreadsheet as a 'csv' and then upload.

      %div.row
        %div.col-md-6.col-sm-6
          %h3 Import Users
          %h5 User Column Headings
          %p name, email, phone, account_type, inactive_on, current, notes
          = form_tag admin_import_users_path, multipart: true do
            = file_field_tag :file
            %br
            = submit_tag 'Import File', class: 'btn btn-primary'

        %div.col-md-6.col-sm-6
          %h3 Import Organization Data
          %h5 Organization Column Headings
          %p name, description, avatar, signed_service_agreement, current, inactive_on, address, city, province, postal
          = form_tag admin_import_organizations_path, multipart: true do
            = file_field_tag :file
            %br
            = submit_tag 'Import File', class: 'btn btn-primary'

    - if @errors.present? or @successes.present?
      %div.form{ style: 'max-width:600px;margin-top:30px;' }
        %h3 Results
        %h4 Successful Updates (name of record: values)
        %ul
          - @successes.each do |record|
            %li
              = record
        %h4 Errors (name of record: error message)
        %ul
          - @errors.each do |name, error|
            %li
              = "#{name}: #{error}"
