%h1 Edit User
= form_for @user do |f|
  = f.text_field :name, placeholder: 'name', class: 'form-control'
  = f.email_field :email, placeholder: 'email', class: 'form-control'
  = f.password_field :password, placeholder: 'password', class: 'form-control'
  = f.password_field :password_confirmation, placeholder: 'confirm password', class: 'form-control'