%div.row
  %div.col-md-4
    %div.list
      = form_for variable, url: url, method: method do |f|
        %div.form-group
          %label Name
          = f.text_field :name, placeholder: 'organization name', class: 'form-control'
        %div.form-group
          %label Tags
          = f.text_field :tagging, class: 'form-control', "data-role" => "tagsinput"
        %div.form-group
          %label Signed Service Agreement:
          = f.check_box :signed_service_agreement, id: 'service'
          %br
          - if variable.signed_service_agreement
            = link_to 'view service agreement', variable.service_agreement.url, target: '_blank'
            %br
            %label
              Remove
              = f.check_box :remove_service_agreement, id: 'remove'
          %div#serviceShow{ style: variable.signed_service_agreement ? '' : 'display:none' }
            = f.file_field :service_agreement
          %br
          = f.label 'Currently Active: '
          = f.check_box :current, id: 'current'
          %div#currentShow{ style: variable.current ? 'display:none' : '' }
            %label Inactive on
            = f.date_select :inactive_on, include_blank: true
        %div.form-group
          %label Address
          = f.text_field :address, placeholder: 'address', class: 'form-control'
          %div{ style: 'width:100%' }
            = f.text_field :city, placeholder: 'city', class: 'form-control short-form', style: 'width:50%'
            = f.text_field :province, placeholder: 'prov.', class: 'form-control short-form', style: 'width:25%'
            = f.text_field :postal, placeholder: 'postal', class: 'form-control short-form', style: 'width:25%'
          %br
          %br
        %div.form-group
          %label Description
          = f.text_area :description, placeholder: 'description', class: 'form-control', rows: 3
        = f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'processing...' }

  - if params[:action] == 'edit'
    %div.col-md-8
      = render 'list', variable: variable


:javascript
  $( document ).ready(function() {
    new Taggle('tags');
  });

  $('#current').click(function() {
      if( $(this).is(':checked')) {
          $("#currentShow").hide();
      } else {
          $("#currentShow").show();
      }
  });
  $('#service').click(function() {
      if( $(this).is(':checked')) {
          $("#serviceShow").show();
      } else {
          $("#serviceShow").hide();
      }
  });
