%br
%div.row
  %div.col-md-4
    %h3 Organization

    = form_for variable, url: url, method: method do |f|
      = f.text_field :name, placeholder: 'organization name', class: 'form-control'
      = f.text_field :tagging, value: variable.tags.join(','),  class: 'form-control'
      %br
      %div.form-group
        = f.label 'Signed Service Agreement: '
        = f.check_box :signed_service_agreement, id: 'service'
        %br
        - if variable.signed_service_agreement
          = link_to 'view service agreement', variable.service_agreement.url, target: '_blank'
          %br
          %label
            Remove
            = f.check_box :remove_service_agreement, id: 'remove'
        %div#serviceShow{ style: variable.signed_service_agreement ? '' : 'display:none' }
          = f.file_field :service_agreement
        %br
        = f.label 'Currently Active: '
        = f.check_box :current, checked: 'checked', id: 'current'
        %div#currentShow{ style: 'display:none' }
          = f.label 'Inactive on:'
          = f.date_select :inactive_on, include_blank: true
      %div.form-group
        = f.label 'Address'
        = f.text_field :address, placeholder: 'address', class: 'form-control'
        = f.text_field :city, placeholder: 'city', class: 'form-control short-form', style: 'width:150px'
        = f.text_field :province, placeholder: 'prov.', class: 'form-control short-form', style: 'width:65px'
        = f.text_field :postal, placeholder: 'postal', class: 'form-control short-form', style: 'width:100px'
        %br
        %br
      %div.form-group
        = f.label 'Description'
        = f.text_area :description, placeholder: 'description', class: 'form-control', rows: 10
      %br
      = f.submit 'Submit', class: 'btn btn-primary'

  - if params[:action] == 'edit'
    %div.col-md-8
      %h4 Users
      %div.well
        = form_for :organization_member, url: admin_organization_members_path, method: :post do |f|
          = f.select :user_id, options_from_collection_for_select(User.all, :id, :name), {}, {class: 'select2 short-form form-control'}
          = f.hidden_field :organization_id, value: params[:id]
          = f.submit 'Add User', class: 'btn btn-primary'
          = f.check_box :account_contact
          = f.label 'Accountant?'
          = f.check_box :admin_contact
          = f.label 'Administrator?'
      %table.table
        %thead
          %tr
            %th User Name
            %th User Email
            %th Administrator
            %th Accountant
            %th Actions
        - variable.organization_members.includes(:user).each do |member|
          %tr
            %td
              = link_to member.user.name, edit_admin_user_path(member.user)
            %td
              = member.user.email
            %td
              = member.admin_contact
            %td
              = member.account_contact
            %td
              = link_to 'remove', admin_organization_member_path(member), method: :delete

      %hr
      %h4 Organization Wide Supplies
      %div.well
        = form_for :supply_list, url: admin_supply_lists_path, method: :post do |f|
          = f.hidden_field :organization_id, value: variable.id
          = f.select :supply_id, options_from_collection_for_select(Supply.all, :id, :name), {}, {class: 'select2 short-form form-control'}
          = f.text_field :name, placeholder: 'name', class: 'form-control short-form'
          = f.text_field :notes, placeholder: 'notes', class: 'form-control short-form'
          = f.submit 'Add', class: 'btn btn-primary'
      %table.table
        %thead
          %tr
            %th Supply Name
            %th Name
            %th Notes
            %th Action
        - variable.supply_lists.each do |list|
          %tr
            %td
              = list.supply.name
            %td
              = list.name
            %td
              = list.notes
            %td
              = link_to 'remove', admin_supply_list_path(list), method: :delete


:javascript
  $('#current').click(function() {
      if( $(this).is(':checked')) {
          $("#currentShow").hide();
      } else {
          $("#currentShow").show();
      }
  });
  $('#service').click(function() {
      if( $(this).is(':checked')) {
          $("#serviceShow").show();
      } else {
          $("#serviceShow").hide();
      }
  });