- cache [set_keys([@organization, User]), 'edit'] do
  %div.container-fluid
    %div.col-md-2.sidebar.hidden-sm.hidden-xs
      = render 'admin/shared/sidebar', active: 'Organizations'
    %div.col-md-10.shad-left
      %h1 Organizations
      %ul.nav.nav-tabs
        %li{ role: 'presentation' }
          = link_to 'Organizations', admin_organizations_path
        %li{ role: 'presentation' }
          = link_to 'New', new_admin_organization_path
        %li.active{ role: 'presentation' }
          = link_to @organization.name, '#'

      %br
      %div.col-md-4
        - cache [set_keys([@organization]), 'form edit'] do
          = render 'admin/organizations/form', org: @organization, url: admin_organization_path(@organization), method: :put
      %div.col-md-8
        - cache [set_keys([@organization, User]), 'list'] do
          = render 'list', org: @organization