%br
%div.row
  %div.col-md-3
    = form_for variable, url: url, method: method do |f|
      %div.form-group
        %label Name
        = f.text_field :name, placeholder: 'name', class: 'form-control'
      %div.form-group
        %label Maximum Number
        = f.number_field :maximum, placeholder: 'maximum quantity available', class: 'form-control'
      %div.form-group
        %label Description
        = f.text_area :notes, placeholder: 'notes', class: 'form-control'
      %br
      = f.submit 'Submit', class: 'btn btn-primary'
  - if params[:action] == 'edit'
    %div.col-md-9
      = render 'list', variable: variable, url: url, method: method