%br
= form_for variable, url: url, method: method do |f|
  = f.text_field :name, placeholder: 'name', class: 'form-control'
  = f.text_field :category, placeholder: 'category', class: 'form-control'
  = f.number_field :maximum, placeholder: 'maximum quantity available', class: 'form-control'
  = f.text_area :notes, placeholder: 'notes', class: 'form-control'
  %br
  = f.submit 'Create', class: 'btn btn-primary'