%br
= form_for supply, url: url, method: method do |f|
  = f.text_field :name, placeholder: 'name', class: 'form-control'
  = f.text_field :category, placeholder: 'category', class: 'form-control'
  = f.number_field :maximum, placeholder: 'maximum quantity available', class: 'form-control'
  = f.text_area :notes, placeholder: 'notes', class: 'form-control'
  = f.nested_fields_for :supply_lists do |ff|
    = ff.remove_nested_fields_link
    = ff.text_field :name, placeholder: 'name', class: 'short-form form-control'
    = ff.text_field :notes, placeholder: 'notes', class: 'short-form form-control'
    = ff.select :user_id, options_from_collection_for_select(User.all, 'id', 'name'), placeholder: 'notes', class: 'short-form form-control'
  = f.add_nested_fields_link :supply_lists
  %br
  = f.submit 'Create', class: 'btn btn-primary'