%br
%div.row
  %div.col-md-3
    = form_for variable, url: url, method: method do |f|
      %div.form-group
        %label Name
        = f.text_field :name, placeholder: 'name', class: 'form-control'
      %div.form-group
        %label Maximum Number
        = f.number_field :maximum, placeholder: 'maximum quantity available', class: 'form-control'
      %div.form-group
        %label Description
        = f.text_area :notes, placeholder: 'notes', class: 'form-control'
      %br
      = f.submit 'Submit', class: 'btn btn-primary'
  - if params[:action] == 'edit'
    %div.col-md-9
      %div.list
        %table.table
          %thead
            %tr
              %th Name
              %th Owner Type
              %th Owner Name
              %th Notes
              %th Remove
          - variable.supply_lists.each do |list|
            %tr
              %td
                = list.name
              %td
                = list.type
              %td
                = list.owner.name
              %td
                = list.notes
              %td
                = link_to 'remove', admin_supply_list_path(list), method: :delete
        %div
          = form_for :supply_list, url: admin_supply_lists_path, method: :post do |f|
            = f.hidden_field :supply_id, value: variable.id
            = f.select :user_id, options_from_collection_for_select(User.all, :id, :name), {}, {class: 'short-form form-control'}
            = f.text_field :name, placeholder: 'name', class: 'form-control short-form'
            = f.text_field :notes, placeholder: 'notes', class: 'form-control short-form'
            = f.submit 'Add User', class: 'btn btn-primary', style: 'width:180px'
          %br
          = form_for :supply_list, url: admin_supply_lists_path, method: :post do |f|
            = f.hidden_field :supply_id, value: variable.id
            = f.select :organization_id, options_from_collection_for_select(Organization.all, :id, :name), {}, {class: 'short-form form-control'}
            = f.text_field :name, placeholder: 'name', class: 'form-control short-form'
            = f.text_field :notes, placeholder: 'notes', class: 'form-control short-form'
            = f.submit 'Add Organization', class: 'btn btn-primary', style: 'width:180px'