%ul.nav.nav-tabs{ role: 'tablist' }

  - if params[:tab] and params[:tab] == 'search'
    - search = 'active'
    - add = ''
  - elsif params[:tab] and params[:tab] == 'add'
    - search = ''
    - add = 'active'
  - else
    - search = 'active'
    - add = ''

  %li{ role: 'presentation', class: search  }
    = link_to 'View', edit_admin_supply_path(variable, tab: 'search')
  %li{ role: 'presentation', class: add }
    = link_to 'Add', edit_admin_supply_path(variable, tab: 'add')

%div.tab-content
  - if search.present?
    %div.tab-pane#search{ role: 'tabpanel', class: search }
      %br
      = render 'admin/supplies/search'
      %div
        = cache do
          = render 'admin/supplies/list_table'
  - elsif add.present?
    %div.tab-pane#add{ role: 'tabpanel', class: add }
      %br
      = render 'admin/supplies/search'
      %br

      = form_for variable, url: url, method: method do |f|
        = f.nested_fields_for :supply_lists, variable.supply_lists.search(params[:search]).category(params[:category]) do |ff|
          = ff.text_field :name, placeholder: 'name', class: 'form-control short-form'
          = ff.text_field :notes, placeholder: 'notes', class: 'form-control short-form'
          = ff.remove_nested_fields_link 'X', class: 'btn btn-default'
        %br
        = f.add_nested_fields_link :supply_lists, 'Add', class: 'btn btn-default'
        = f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'processing...' }
