%div.container-fluid
  %div.col-md-2.sidebar.hidden-sm.hidden-xs
    = render 'admin/shared/sidebar', active: 'Supplies'
  %div.col-md-10.shad-left
    %h1 Supplies
    %ul.nav.nav-tabs
      %li{ role: 'presentation' }
        = link_to 'All', admin_supplies_path
      %li.active{ role: 'presentation' }
        = link_to 'New', new_admin_supply_path
      - Supply.all.each do |supply|
        %li{ role: 'presentation' }
          = link_to supply.name, edit_admin_supply_path(supply)

    %br
    = render 'admin/supplies/form', variable: @supply, url: admin_supplies_path, method: :post
