%h1 Edit Organization
%div.form
  - if @organization.avatar.present?
    %div.avatar
      = image_tag @organization.avatar, class: 'img-responsive'
  = form_for @organization do |f|
    %div.form-group
      %label Avatar
      = f.file_field :avatar
    %div.form-group
      %label Name
      = f.text_field :name, placeholder: 'name', class: 'form-control'
    %div.form-group
      %label Tags
      = f.text_field :tags, value: @organization.tags.join(','), class: 'select2 form-control', id: 'tagging'
    %div.form-group
      %label Description
      = f.text_area :description, class: 'form-control', rows: 10
    = f.submit 'Submit', class: 'btn btn-primary'
