- cache @organization do
  %h1 #{@organization.name}
  %div.full-height
    %div.form
      - if @organization.avatar.present?
        %div.avatar
          = image_tag @organization.avatar, class: 'img-responsive'
      = form_for @organization do |f|
        %div.form-group
          %label Avatar
          = f.file_field :avatar
        %div.form-group
          %label Name
          = f.text_field :name, placeholder: 'name', class: 'form-control'
        %div.form-group
          %label Sector
          = f.select :sector, Organization::SECTORS.collect { |s| [s,s] }, placeholder: 'sector', class: 'form-control'
        %div.form-group
          %label Twitter
          = f.text_field :twitter, placeholder: '@', class: 'form-control'
        %div.form-group
          %label Tags
          %br
          = f.text_field :tagging, value: @organization.tags.join(','), class: 'form-control', id: 'tagsinput'
        %div.form-group
          %label Description
          = f.text_area :description, class: 'form-control', rows: 10
        = f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'processing...' }
