%h1 All Organizations
%div.container-fluid
  - @organizations.each do |org|
    %div.col-sm-4
      %div.organization
        %div.avatar
          - if org.avatar.file
            = image_tag org.avatar, class: 'img-responsive'
          - else
            = image_tag '/default/avatar.jpg', class: 'img-responsive'
        %h3
          = org.name
        %div.org-text
          = raw prepare_text(org.description)
      %div{ style: 'position:absolute;right:20px;top:7px;background-color:white;padding:4px;' }
        = link_to 'edit', edit_organization_path(org) if editable?(org)
