%div.box
  %div.box-head
    %h4
      = user.name ? user.name : 'New'
  %div.box-content
    = form_for user, url: url, method: method do |f|
      %div.form-group
        %label Name
        = f.text_field :name, class: 'form-control'
      %div.form-group
        %label Email
        = f.email_field :email, class: 'form-control'
      %div.form-group
        %label Phone
        = f.phone_field :phone, class: 'form-control'
      %div.form-group
        %label Account Type
        = f.phone_field :account_type, class: 'form-control'
      %div.form-group
        %label
          = link_to 'LinkedIn', user.linked_in
        = f.text_field :linked_in, class: 'form-control'
      = f.label 'Currently Active: '
      = f.check_box :current, id: 'current'
      %div#currentShow{ style: user.current ? 'display:none' : '' }
        = f.label 'Inactive on:'
        = f.date_select :inactive_on, include_blank: true
      %br
      %br
      = f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'processing...' }
    %br
    %span User is an administrator?
    = user.admin ? 'Yes' : 'No'

:javascript
  $('#current').click(function() {
    if( $(this).is(':checked')) {
      $("#currentShow").hide();
    } else {
      $("#currentShow").show();
    }
  });
