%br
%div.col-md-4
  %div.form
  %h3 User
  = form_for variable, url: url, method: method do |f|
    = f.text_field :name, placeholder: 'name', class: 'form-control'
    = f.email_field :email, placeholder: 'email', class: 'form-control'
    %br
    = f.password_field :password, placeholder: 'password', class: 'form-control'
    = f.password_field :password_confirmation, placeholder: 'password confirmation', class: 'form-control'
    %br
    = f.submit 'Create', class: 'btn btn-primary'
- if params[:action] == 'edit'
  %div.col-md-8
    %h3 Supplies
    = form_for :supply_list, url: admin_supply_lists_path, method: :post do |f|
      = f.hidden_field :user_id, value: variable.id
      = f.select :supply_id, options_from_collection_for_select(Supply.all, :id, :name), {}, {class: 'short-form form-control'}
      = f.text_field :name, placeholder: 'name', class: 'form-control short-form'
      = f.text_field :notes, placeholder: 'notes', class: 'form-control short-form'
      = f.submit 'Add', class: 'btn btn-primary'
    %table.table
      - @user.supply_lists.each do |list|
        %tr
          %td
            = list.supply.name
          %td
            Name:
            = list.name
          %td
            Notes:
            = list.notes

    %hr
    %h3 Organizations
    = form_for :organization_member, url: admin_organization_members_path, method: :post do |f|
      = f.hidden_field :user_id, value: variable.id
      = f.select :organization_id, options_from_collection_for_select(Organization.all, :id, :name), {}, {class: 'short-form form-control'}
      = f.check_box :account_contact
      = f.label 'Account Contact'
      = f.check_box :admin_contact
      = f.label 'Admin Contact'
      = f.check_box :user_can_edit
      = f.label 'Can Edit Organization'
      = f.submit 'Add', class: 'btn btn-primary'
    %table.table
      - variable.organization_members.each do |list|
        %tr
          %td
            = list.organization.name
          %td
            Admin Contact?
            = list.admin_contact
          %td
            Accounting Contact?
            = list.account_contact
    %hr
    %h3 Administrator?
    - if variable.admin
      %span User is an administrator
      = link_to 'Remove user as an adminstrator',  admin_admin_path(variable), method: :delete,class: 'btn btn-default btn-sm'
    - else
      %span This user is not currently an administrator
      = form_for :admin, url: admin_admins_path, method: :post do |f|
        = f.hidden_field :user_id, value: variable.id
        = f.submit 'Make user an administrator', class: 'btn btn-default btn-sm'