%div.row
  %div.col-md-4
    = form_for variable, url: url, method: method do |f|
      = f.label 'Name'
      = f.text_field :name, class: 'form-control'
      = f.label 'Email'
      = f.email_field :email, class: 'form-control'
      = f.label 'Phone'
      = f.phone_field :phone, class: 'form-control'
      = f.label 'Account Type'
      = f.phone_field :account_type, class: 'form-control'
      %br
      = f.label 'Currently Active: '
      = f.check_box :current, checked: 'checked', id: 'current'
      %div#currentShow{ style: 'display:none' }
        = f.label 'Inactive on:'
        = f.date_select :inactive_on
      %br
      = f.password_field :password, value: @password, placeholder: 'password', class: 'form-control'
      = f.password_field :password_confirmation, value: @password, placeholder: 'password confirmation', class: 'form-control'
      %br
      = f.submit 'Submit', class: 'btn btn-primary'
    %br
    %span User is an administrator?
    = variable.admin ? 'Yes' : 'No'
  - if params[:action] == 'edit'
    %div.col-md-8
      %div.list
        = render 'list', variable: variable

:javascript
  $('#current').click(function() {
    if( $(this).is(':checked')) {
      $("#currentShow").hide();
    } else {
      $("#currentShow").show();
    }
  });