%h4 Supplies
%table.table
  %thead
    %tr
      %th Supply Name
      %th Name
      %th Notes
      %th Organization
      %th Action
  - @user.supply_lists.each do |list|
    %tr
      %td
        = list.supply.name
      %td
        = list.name
      %td
        = list.notes
      %td -
      %td
        = link_to 'remove', admin_supply_list_path(list), method: :delete
  - @user.organization_supplies.each do |list|
    %tr
      %td
        = list.supply.name
      %td
        = list.name
      %td
        = list.notes
      %td
        = list.organization.name
      %td -
%div
  = form_for :supply_list, url: admin_supply_lists_path, method: :post do |f|
    = f.hidden_field :user_id, value: variable.id
    = f.select :supply_id, options_from_collection_for_select(Supply.all, :id, :name), {}, {class: 'short-form form-control' }
    = f.text_field :name, placeholder: 'name', class: 'form-control short-form'
    = f.text_field :notes, placeholder: 'notes', class: 'form-control short-form'
    = f.submit 'Add', class: 'btn btn-primary'

%hr
%h4 Organizations
%table.table
  %thead
    %tr
      %th Organization Name
      %th Admin Contact
      %th Accountant
      %th Remove
  - variable.organization_members.each do |list|
    %tr
      %td
        = list.organization.name
      %td
        = list.admin_contact
      %td
        = list.account_contact
      %td
        = link_to 'remove', admin_organization_member_path(list), method: :delete
%div
  = form_for :organization_member, url: admin_organization_members_path, method: :post do |f|
    = f.hidden_field :user_id, value: variable.id
    = f.select :organization_id, options_from_collection_for_select(Organization.all, :id, :name), {}, {class: ' short-form form-control'}
    &nbsp;&nbsp;
    = f.check_box :account_contact
    = f.label 'Accountant?'
    &nbsp;&nbsp;
    = f.check_box :admin_contact
    = f.label 'Administrator?'
    &nbsp;&nbsp;
    = f.submit 'Add', class: 'btn btn-primary'
%hr
%h4 Administrator?
%div
  - if variable.admin
    %span User is an administrator
    = link_to 'Remove this user from administrators',  admin_admin_path(variable.admin), method: :delete,class: 'btn btn-default btn-sm'
  - else
    = form_for :admin, url: admin_admins_path, method: :post do |f|
      %span This user is not currently an administrator
      = f.hidden_field :user_id, value: variable.id
      = f.submit 'Make this user an administrator', class: 'btn btn-default btn-sm'