- cache [@user.cache_key(params), Organization.cache_key_params(params), Attachment.cache_key_params(params)] do
  %div.container-fluid
    %div.col-md-2.sidebar.hidden-sm.hidden-xs
      = render 'admin/shared/sidebar', active: 'Users'
    %div.col-md-10.shad-left
      %h1 Users
      %ul.nav.nav-tabs
        %li{ role: 'presentation' }
          = link_to 'Users', admin_users_path
        %li{ role: 'presentation' }
          = link_to 'New User', new_admin_user_path
        %li.active{ role: 'presentation' }
          = link_to @user.name, '#'

      %br
      %div.col-md-4
        = render 'admin/users/form', url: admin_user_path(@user), method: :put, user: @user
      %div.col-md-8
        = render 'admin/users/list', user: @user
