%div.container-fluid
  %div.col-md-2.sidebar
    = render 'admin/sidebar', active: 'users'
  %div.col-md-10
    %h1 Users
    %ul.nav.nav-tabs
      %li{ role: 'presentation' }
        = link_to 'Users', admin_users_path
      %li.active{ role: 'presentation' }
        = link_to 'Edit Users', '#'

    = render 'admin/users/form', supply: @user, url: admin_supply_path(@user), method: :put

    %div.col-md-6
      %h3 Associated
      %ul
        - @user.supply_lists.each do |list|
          %li
            = list.supply.name
    %div.col-md-6
      %h3 Add a Supply
      = form_for :supply_list, url: admin_supplies_path, method: :post do |f|
        = f.hidden_field :user_id, value: @user.id
        = f.select options_from_collection_for_select(SupplyList.all, 'id', 'supply'), class: 'form-control'