%div.container-fluid
  %div.col-md-2.sidebar.hidden-sm
    = render 'admin/shared/sidebar', active: title
  %div.col-md-10.shad-left
    %h1
      = title
    %ul.nav.nav-tabs
      %li{ role: 'presentation' }
        = link_to main[0], send(main[1])
      %li.active{ role: 'presentation' }
        = link_to new[0], send(new[1])

    %br
    = render form_location, variable: form_variable, url: send(form_url, form_variable), method: form_method

-# title = title
-# main = [mainlink, main_link_path]
-# new = ['new', new_path]
-# form_location = render path
-# form_variable = form variable
-# form_url = form_path
-# form_method = ie: :post