<!DOCTYPE html>
<html>
<head>
  <title>Hive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<% flash.each do |message_type, message| %>
	<div class="message" onclick="$('.message').fadeOut(300, function() { $(this).remove(); });" style="transition: all 0.3s">
		<span style="position: absolute; right: 10px; top: 5px; cursor: pointer;">&times;</span>
		<div class="center-block text-center alert alert-<%= message_type %>" ><%= message %></div>
	</div>
<% end %>

<%= yield %>

<script>
	$(document).ready(function() {
		$(".select2").select2();
		$("#tagsinput").tagsinput()
	});
</script>
</body>
</html>
