<!DOCTYPE html>
<html>
<head>
  <title>Hive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>

<%= yield %>

<script>
	$(document).ready(function() {
		$(".select2").select2({
			placeholder: "select",
			allowClear: true
		});
	});
</script>
<script>
	$("#tagging").select2({
		tags: true,
		tokenSeparators: [",", " "],
		placeholder: "type a tag",
		allowClear: true,
		data: <%=raw Organization.select_tags  %>
	})
</script>
</body>
</html>
